<base-card>
  <base-card-title>
    <h2>Form</h2>
    <div class="mdl-card__subtitle">Please complete the form</div>
  </base-card-title>
  <base-card-body>
    <form action="#" class="form">
      <div class="form__article">
        <h3>Personal data</h3>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="username" [value]="back.user.password" (input)="back.user.password = $event.target.value"/>
            <label class="mdl-textfield__label" for="username">password</label>
          </div>

        </div>
     </div>
    
     <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone submit-cell">
        <!-- <a routerLink="/pages/sign-up" class="blank-layout-card-link">Don't have account?</a> -->
        <div class="mdl-layout-spacer"></div>
          <button (click)="signup(3002) " class="mdl-button mdl-js-button mdl-button--raised color--light-blue">
            SIGN UP
          </button>
      </div>

     
    </form>
  </base-card-body>
</base-card>
