<link type="text/html" rel="stylesheet" href="/src/assets/styles/material-design-lite/material.min.css">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">


<div class="service-section">
    <div class="inner-width">
        <h1 class="section-title">Importação de Arquivos</h1>
        <div class="border"></div>
        <div class="services-container">

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-file-csv"></i>
                </div>
                <div class="service-title">Upload CSV</div>
                <div class="service-desc">Importação de Arquivo em CSV</div>
                <div class="service-button">
                    <div class="upload-btn-wrapper ">
                        <button
                            class="btn mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect ButtonImport ButtonColorImport">+</button>
                        <input type="file" name="myfile" />
                    </div>
                </div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-code"></i>
                </div>
                <div class="service-title">Upload URL</div>
                <div class="service-desc">Importação de Arquivo em URL</div>
                <div class="service-button">
                    <div class="upload-btn-wrapper ">
                        <button
                            class="btn mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect ButtonImport ButtonImportURL"
                            id="ButtonImportURL">+</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="bg-modal">
    <div class="modal-content">
        <div class="close" id="close">+</div>
        <h1 class="importarH1">Importar URL</h1>
        <input type="text" placeholder="Digite a URL" class="linkURL">
        <a class="verificaoTime">Verificar a cada</a>
            <app-qd-select (retPlaceholder)="onSelect($event)" [arrSelect]="arrSelect"></app-qd-select>
        <div class="buttonEnviar">
            <a href="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button buttonURL">
                Enviar</a>
        </div>
    </div>
</div>