<link type="text/html" rel="stylesheet" href="/src/assets/styles/material-design-lite/material.min.css" >
<script src="/node_modules/material-design-lite/material.js"></script>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<div class="service-section">
  <div class="inner-width">
    <h1 class="section-title">Importação de Arquivos</h1>
    <div class="border"></div>
    <div class="services-container">
      
      <div class="service-box">
        <div class="service-icon">
          <i class="fas fa-file-csv"></i>
        </div>
        <div class="service-title">Upload CSV</div>
        <div class="service-desc">Importação de Arquivo em CSV</div>
        <div class="service-button">
          <div class="upload-btn-wrapper ">
            <button class="btn mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect ButtonColorImport">+</button>
            <input type="file" name="myfile" />
          </div>
        </div>
      </div>

      <div class="service-box">
        <div class="service-icon">
          <i class="fas fa-code"></i>
        </div>
        <div class="service-title">Upload URL</div>
        <div class="service-desc">Importação de Arquivo em URL</div>
        <div class="service-button">
          <div class="upload-btn-wrapper ">
            <button class="btn mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect ButtonColorImport">+</button>
            <input type="file" name="myfile" />
          </div>
        </div>
      </div>

    </div>
  </div>
</div>