<link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
<script src="/node_modules/material-design-lite/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">


<!-- <div class="import-section">
    <div class="inner-width">
        <h1 class="H1import-title">Importação de Arquivos</h1>
        <div class="border"></div>
        <div class="import-container">
            
            <div class="import-box">
                <div class="import-icon">
                    <i class="fas fa-file-cs"></i>
                </div>
                <div class="import-title">CSV</div>
            </div>

            <div class="import-box">
                <div class="import-icon">
                    <i class="fas fa-file-cs"></i>
                </div>
                <div class="import-title">URL</div>
            </div>

        </div>
    </div>
</div> -->

<div class="ImportarCard">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__supporting-text">
            Importação de CSV
            </div>
        </div> 
</div> 

<div class="ImportarCSV">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
        <i class="material-icons">add</i>
      </button>        
</div>

    
  