<div class="mdl-card mdl-card__blank-layout-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text color--dark-gray">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <span class="mdl-card__title-text text-color--smooth-gray">42</span>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <span class="blank-layout-card-name text-color--white">Esqueceu a senha?</span>
        <span class="blank-layout-card-secondary-text text-color--smoke">Coloque seu email para enviarmos uma solicitação de troca de senha.</span>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
          <input class="mdl-textfield__input" type="text" [value]="email.email" (input)=" email.email = $event.target.value"  id="e-mail">
          <label class="mdl-textfield__label" for="e-mail">Email</label>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone submit-cell">
        <div class="mdl-layout-spacer"></div>
          <button (click)="forgot(3002)" class="mdl-button mdl-js-button mdl-button--raised color--light-blue">
            Alterar Senha
          </button>
      </div>
    </div>
  </div>
</div>
