<!-- <div class="example-container mat-elevation-z8"> -->
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="titulo">
      <mat-header-cell *matHeaderCellDef> Base </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="cellClicked(element)"> {{element.titulo}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Data de Insercao">
      <mat-header-cell *matHeaderCellDef> Data de Inserção </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dataInsercao}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Adicionado">
      <mat-header-cell *matHeaderCellDef> Adicionado </mat-header-cell>
      <!-- <mat-cell *matCellDef="let element"> {{element.inserido}}</mat-cell> -->
      <mat-cell *matCellDef="let element">
        <span *ngIf="element.inserido" style='font-size:30px; color:white'>&#10003;</span>
        <span *ngIf="!element.inserido" style='font-size:25px; color:white'>&#935;</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Fonte">
      <mat-header-cell *matHeaderCellDef class="curva-direita"> Fonte </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lugar}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let detail"> 
       <p> {{detail.element.campos}}</p>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
            class="element-row" 
            [class.expanded]="expandedElement == row"
            (click)="expandedElement = row; isExpanded = isExpanded"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
            [@detailExpand]="cellClicked(row)"
            style="overflow: hidden"> 
    </mat-row>
  </mat-table>
<!-- </div> -->
