<link type="text/html" rel="stylesheet" href="/src/assets/styles/material-design-lite/material.min.css">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<div class="card-table">

  <div class="card-box">
    <div class="table">
        <app-line-predictPrevi></app-line-predictPrevi>
    </div>
</div>
<div class="card-box">
  <div class="table">
      <app-columnPrevi></app-columnPrevi>
  </div>
</div>
</div>

