<div *ngIf="user" class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header has-drawer">
    <div class="mdl-layout__header" *ngIf="user">
        <base-page-top>
            <div class="mdl-layout-spacer"></div>

            <span id="icon" class="nomeUserSideBar"> {{user.username}} </span>

            <span class="mdl-list__item-primary-content ButtonDesconectar">
                <i (click)="logout()"
                    class="material-icons mdl-list__item-icon text-color--secondary ButtonDesconectar">exit_to_app</i>
            </span>

        </base-page-top>
    </div>
    <div class="mdl-layout__drawer" *ngIf="user">
        <app-sidebar></app-sidebar>
    </div>
    <main class="mdl-layout__content">
        <router-outlet></router-outlet>
    </main>
</div>
<div *ngIf="!user" class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header has-drawer">
    <!-- <main class="mdl-layout__content"> -->
    <main class=" mdl-layout__content">
        <button (click)="logar()" style="z-index: 11;position:fixed;width:85px; margin: 10px auto auto 90%;"
            class="btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect buttonAcao"> Login </button>
        <router-outlet></router-outlet>
    </main>
</div>