<!-- <link type="text/html" rel="stylesheet" href="/src/assets/styles/material-design-lite/material.min.css">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<div class="services-section">
        <div class="inner-width">

            <div class="service-box">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">

                        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                                <thead>
                                  <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Filtro</th>
                                   </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class="mdl-data-table__cell--non-numeric">País ou estados</td>
                                    
                                  </tr>
                                  <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Óbitos</td>
                                    
                                  </tr>
                                  <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
                                    
                                  </tr>
                                </tbody>
                              </table>

                              <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                                    <i class="material-icons">add</i>
                                  </button>
                    <app-qd-select (retPlaceholder)="onSelect($event)" [arrSelect]="arrSelect" [titulo]="'7 dias'"></app-qd-select> 
                </div>
            </div>

        </div>
</div> -->

<!--card.component.html>
-->

<app-card></app-card>