<link type="text/html" rel="stylesheet" href="/src/assets/styles/material-design-lite/material.min.css">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<div class= 'texto'>
<a>Desafios de saúde são comuns em muitos países. Investimentos do governo combinados com políticas de dados abertos permitem que melhorias no processo sejam desenvolvidas. Este artigo apresenta uma introdução ao estudo sobre dados abertos na área de saúde pública aplicada à asma e análise de big data para ajudar os setores governamentais a tomarem melhores decisões no planejamento e nos recursos..</a>
</div>