<link type="text/html" rel="stylesheet" href="/src/assets/styles/material-design-lite/material.min.css">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">


<div class="card-table">
    <div class="card-box">
        <div class="table">
            <app-cardgeo></app-cardgeo>
        </div>
    </div>
    <div class="card-box">
        <div class="table">
            <app-cardline></app-cardline>
        </div>
    </div>
    <div class="card-box">
        <div class="table">
            <app-cardcolumn></app-cardcolumn>
        </div>
    </div>
    <div class="card-box">
        <div class="table">
            <app-cardpie></app-cardpie>
        </div>
    </div>
</div>

<div id=grap></div>