<link type="text/html" rel="stylesheet" href="/src/assets/styles/material-design-lite/material.min.css">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<app-qd-filtro (filtroEmitter) = "recebeFuncao($event)"></app-qd-filtro>

<div class="card-table">
    <div class="card-box">
        <div class="table">
            <app-line [name]="messageToSendP"></app-line>
        </div>
    </div>
    <div class="card-box">
        <div class="table">
            <app-line-predict [name]="messageToSendP"></app-line-predict>
        </div>
    </div>
    <div class="card-box">
        <div class="table">
            <app-column [name]="messageToSendP"></app-column>
        </div>
    </div>
    <div class="card-box">
        <div class="table">
            <app-columnPredict [name]="messageToSendP"></app-columnPredict>
        </div>
    </div>
    <div class="card-box">
        <div class="table">
            <app-pie></app-pie>
        </div>
    </div>
    <div class="card-box">
        <div class="table">
            <app-area [name]="messageToSendP"></app-area>
        </div>
    </div>
</div>  


<!--<app-teste-filtro></app-teste-filtro>-->