<link type="text/html" rel="stylesheet" href="/src/assets/styles/material-design-lite/material.min.css">
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- <div class="demo-card-square mdl-card mdl-shadow--4dp">
    <app-pie></app-pie>
</div>

<div class="demo-card-square mdl-card mdl-shadow--4dp">
    <app-line></app-line>
</div>

<div class="demo-card-square mdl-card mdl-shadow--4dp">
    <app-geo></app-geo>
</div>

<div class="demo-card-square mdl-card mdl-shadow--4dp">
    <app-column></app-column>
</div> -->
<link type="text/html" rel="stylesheet" href="/src/assets/styles/material-design-lite/material.min.css">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<!-- <div class="demo-card-square mdl-card mdl-shadow--4dp">
    <app-pie></app-pie>
</div>

<div class="demo-card-square mdl-card mdl-shadow--4dp">
    <app-line></app-line>
</div>

<div class="demo-card-square mdl-card mdl-shadow--4dp">
    <app-geo></app-geo>
</div>

<div class="demo-card-square mdl-card mdl-shadow--4dp">
    <app-column></app-column>
</div> -->
<div class="card-table">

    <div class="card-box">
        <div class="table">
            <app-line></app-line>
        </div>
    </div>
    <div class="card-box">
        <div class="table">
            <app-line-predict></app-line-predict>
        </div>
    </div>
    <div class="card-box">
        <div class="table">
            <app-column></app-column>
        </div>
    </div>
    <div class="card-box">
        <div class="table">
            <app-columnPredict></app-columnPredict>
        </div>
    </div>
    <div class="card-box">
        <div class="table">
                <div class="filtro">
                        <app-qd-select class="filtro1" [arrSelect]="filtros.ano" [titulo]="filtro.ano"
                            (retPlaceholder)="onSelect($event)" [id]="element.id"></app-qd-select>
                    </div>
                    <div class="filtro">
                        <app-qd-select class="filtro2" [arrSelect]="filtros.genero" [titulo]="filtro.genero"
                            (retPlaceholder)="onSelect($event)" [id]="element2.id"></app-qd-select>
                    </div>
                    <div class="filtro">
                        <app-qd-select class="filtro3" [arrSelect]="filtros.mes" [titulo]="filtro.mes"
                            (retPlaceholder)="onSelect($event)" [id]="element3.id"></app-qd-select>
                    </div>
                    <div class="filtro">
                        <app-qd-select class="filtro4" [arrSelect]="filtros.faixaEtaria" [titulo]="filtro.faixaEtaria"
                            (retPlaceholder)="onSelect($event)" [id]="element4.id"></app-qd-select>
                    </div>
                    <button (click)="onFiltra()" class="mdl-button mdl-js-button mdl-button--raised color--light-blue">
                        Alterar Senha
                    </button>
            <app-pie></app-pie>
        </div>
    </div>
    <div class="card-box">
        <div class="table">
            <app-area></app-area>
        </div>
    </div>
</div>