<link type="text/html" rel="stylesheet" href="/src/assets/styles/material-design-lite/material.min.css">
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- <div class="demo-card-square mdl-card mdl-shadow--4dp">
    <app-pie></app-pie>
</div>

<div class="demo-card-square mdl-card mdl-shadow--4dp">
    <app-line></app-line>
</div>

<div class="demo-card-square mdl-card mdl-shadow--4dp">
    <app-geo></app-geo>
</div>

<div class="demo-card-square mdl-card mdl-shadow--4dp">
    <app-column></app-column>
</div> -->
<link type="text/html" rel="stylesheet" href="/src/assets/styles/material-design-lite/material.min.css">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<!-- <div class="demo-card-square mdl-card mdl-shadow--4dp">
    <app-pie></app-pie>
</div>

<div class="demo-card-square mdl-card mdl-shadow--4dp">
    <app-line></app-line>
</div>

<div class="demo-card-square mdl-card mdl-shadow--4dp">
    <app-geo></app-geo>
</div>

<div class="demo-card-square mdl-card mdl-shadow--4dp">
    <app-column></app-column>
</div> -->
<div class="card-table">
   
    <div class="card-box">
        <div class="table">
            <app-line></app-line>
        </div>
    </div>
    <div class="card-box">
        <div class="table">
            <app-line-predict></app-line-predict>
        </div>
    </div>
    <div class="card-box">
        <div class="table">
            <app-pie></app-pie>
        </div>
    </div>
    <div class="card-box">
        <div class="table">
            <app-column></app-column>
        </div>
    </div>
    <div class="card-box">
        <div class="table">
            <app-geo></app-geo>
        </div>
    </div>
</div>