<!-- ############  Modelo using cards do zero ###########-->

<link type="text/html" rel="stylesheet" href="/src/assets/styles/material-design-lite/material.min.css">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

<main>
    <section class="cards">


        <div class="card">
            <div class="card__image-container">
              <div class="card-header">
                <img src="https://img.ibxk.com.br/wpapers/BXK301_florianopolis-ponte-hercilio-luz800.jpg" alt="">
                <div class="cover"></div>
                
                <div class="name">
                  <!-- <span class="last">Região</span> -->
                  <span class="first">Brasil</span>              
                </div>
              
              </div>
              
            </div>
            <div class="card__content">
              <div class="container">
                <div class="left-section">
                  
                  <div class="item">
                    <span class="num_left">Menor de 1 ano até 80 anos</span>
                    <span class="word">Idade</span>
                  </div>
  
                  <div class="item">
                    <span class="num_left">Todas</span>
                    <span class="word">Raça</span>
                  </div>
  
                  <div class="item">
                    <span class="num_left">Todos</span>
                    <span class="word">Gênero</span>
                  </div>
  
                  <div class="dados__processados">
                    <span href="" class="dados__processados num_dados">19009</span>
                    <span href="" class="dados__processados word_dados">Dados Processados</span>
                  </div>   
                  
                </div>
  
  
                <div class="right-section">
  
                  <div class="item">
                    <span class="num">7.723	</span>
                    <span class="word">Óbitos</span>
                  </div>
  
                  <div class="item">
                    <span class="num">0,47</span>
                    <span class="word">Taxa mortalidade</span>
                  </div>
  
                  <div class="item">
                    <span class="num_valor_br num">864.585.847</span>
                    <span class="word">Valor Gasto</span>
                  </div>
  
                  <div class="item">
                    <span class="num">1.627.890</span>
                    <span class="word">Internações</span>
                  </div>
  
                </div>
  
              </div>
            </div>
          </div>
        <div class="card">
          <div class="card__image-container">
            <div class="card-header">
              <img src="https://img.ibxk.com.br/wpapers/BXK301_florianopolis-ponte-hercilio-luz800.jpg" alt="">
              <div class="cover"></div>
              
              <div class="name">
                <span class="last_norte last">Região</span>
                <span class="first">Norte</span>              
              </div>
            
            </div>
            
          </div>
          <div class="card__content">
            <div class="container">
              <div class="left-section">
                
                <div class="item">
                  <span class="num_left">Recém nascidos até 15 anos</span>
                  <span class="word">Idade</span>
                </div>

                <div class="item">
                  <span class="num_left">Caucasiano</span>
                  <span class="word">Raça</span>
                </div>

                <div class="item">
                  <span class="num_left">Masculino</span>
                  <span class="word">Gênero</span>
                </div>

                <div class="dados__processados">
                  <span href="" class="dados__processados num_dados">552</span>
                  <span href="" class="dados__processados word_dados">Dados Processados</span>
                </div>   
                
              </div>


              <div class="right-section">

                <div class="item">
                  <span class="num_sem_mortes num">Sem mortes</span>
                  <span class="word">Óbitos</span>
                </div>

                <div class="item">
                  <span class="num_sem_mortes num">Sem mortes</span>
                  <span class="word">Taxa mortalidade</span>
                </div>

                <div class="item">
                  <span class="num">920.532,05</span>
                  <span class="word">Valor Gasto</span>
                </div>

                <div class="item">
                  <span class="num">1.885</span>
                  <span class="word">Internações</span>
                </div>

              </div>

            </div>
          </div>
        </div>

        <div class="card">
            <div class="card__image-container">
              <div class="card-header">
                <img src="https://img.ibxk.com.br/wpapers/BXK301_florianopolis-ponte-hercilio-luz800.jpg" alt="">
                <div class="cover"></div>
                
                <div class="name">
                  <span class="last_nordeste last">Região</span>
                  <span class="first">Nordeste</span>              
                </div>
              
              </div>
              
            </div>
            <div class="card__content">
              <div class="container">
                <div class="left-section">
                  
                  <div class="item">
                    <span class="num_left">60 até 80 anos e mais</span>
                    <span class="word">Idade</span>
                  </div>
  
                  <div class="item">
                    <span class="num_left">Negra</span>
                    <span class="word">Raça</span>
                  </div>
  
                  <div class="item">
                    <span class="num_left">Feminino</span>
                    <span class="word">Gênero</span>
                  </div>
  
                  <div class="dados__processados">
                    <span href="" class="dados__processados num_dados">414</span>
                    <span href="" class="dados__processados word_dados">Dados Processados</span>
                  </div>   
                  
                </div>
  
  
                <div class="right-section">
  
                  <div class="item">
                    <span class="num">34</span>
                    <span class="word">Óbitos</span>
                  </div>
  
                  <div class="item">
                    <span class="num">2,29</span>
                    <span class="word">Taxa mortalidade</span>
                  </div>
  
                  <div class="item">
                    <span class="num">759.598,72</span>
                    <span class="word">Valor Gasto</span>
                  </div>
  
                  <div class="item">
                    <span class="num">1.484</span>
                    <span class="word">Internações</span>
                  </div>
  
                </div>
  
              </div>
            </div>
          </div>

          <div class="card">
              <div class="card__image-container">
                <div class="card-header">
                  <img src="https://img.ibxk.com.br/wpapers/BXK301_florianopolis-ponte-hercilio-luz800.jpg" alt="">
                  <div class="cover"></div>
                  
                  <div class="name">
                    <span class="last_centro last">Região</span>
                    <span class="first">Centro-Oeste</span>              
                  </div>
                
                </div>
                
              </div>
              <div class="card__content">
                <div class="container">
                  <div class="left-section">
                    
                    <div class="item">
                      <span class="num_left">10 a 30 anos</span>
                      <span class="word">Idade</span>
                    </div>
    
                    <div class="item">
                      <span class="num_left">Parda</span>
                      <span class="word">Raça</span>
                    </div>
    
                    <div class="item">
                      <span class="num_left">Masculino</span>
                      <span class="word">Gênero</span>
                    </div>
    
                    <div class="dados__processados">
                      <span href="" class="dados__processados num_dados">414</span>
                      <span href="" class="dados__processados word_dados">Dados Processados</span>
                    </div>   
                    
                  </div>
    
    
                  <div class="right-section">
    
                    <div class="item">
                      <span class="num_sem_mortes num">Sem mortes</span>
                      <span class="word">Óbitos</span>
                    </div>
    
                    <div class="item">
                      <span class="num_sem_mortes num">Sem mortes</span>
                      <span class="word">Taxa mortalidade</span>
                    </div>
    
                    <div class="item">
                      <span class="num">1.349.508</span>
                      <span class="word">Valor Gasto</span>
                    </div>
    
                    <div class="item">
                      <span class="num">2.782</span>
                      <span class="word">Internações</span>
                    </div>
    
                  </div>
    
                </div>
              </div>
            </div>

            <div class="card">
                <div class="card__image-container">
                  <div class="card-header">
                    <img src="https://img.ibxk.com.br/wpapers/BXK301_florianopolis-ponte-hercilio-luz800.jpg" alt="">
                    <div class="cover"></div>
                    
                    <div class="name">
                      <span class="last_sudeste last">Região</span>
                      <span class="first">Sudeste</span>              
                    </div>
                  
                  </div>
                  
                </div>
                <div class="card__content">
                  <div class="container">
                    <div class="left-section">
                      
                      <div class="item">
                        <span class="num_left">20 a 60 anos</span>
                        <span class="word">Idade</span>
                      </div>
      
                      <div class="item">
                        <span class="num_left">Amarela</span>
                        <span class="word">Raça</span>
                      </div>
      
                      <div class="item">
                        <span class="num_left">Feminino</span>
                        <span class="word">Gênero</span>
                      </div>
      
                      <div class="dados__processados">
                        <span href="" class="dados__processados num_dados">552</span>
                        <span href="" class="dados__processados word_dados">Dados Processados</span>
                      </div>   
                      
                    </div>
      
      
                    <div class="right-section">
      
                      <div class="item">
                        <span class="num">3</span>
                        <span class="word">Óbitos</span>
                      </div>
      
                      <div class="item">
                        <span class="num">1,19</span>
                        <span class="word">Taxa mortalidade</span>
                      </div>
      
                      <div class="item">
                        <span class="num">177.883,77	</span>
                        <span class="word">Valor Gasto</span>
                      </div>
      
                      <div class="item">
                        <span class="num">253</span>
                        <span class="word">Internações</span>
                      </div>
      
                    </div>
      
                  </div>
                </div>
              </div>

            <div class="card">
                <div class="card__image-container">
                  <div class="card-header">
                    <img src="https://img.ibxk.com.br/wpapers/BXK301_florianopolis-ponte-hercilio-luz800.jpg" alt="">
                    <div class="cover"></div>
                    
                    <div class="name">
                      <span class="last_sul last">Região</span>
                      <span class="first">Sul</span>              
                    </div>
                  
                  </div>
                  
                </div>
                <div class="card__content">
                  <div class="container">
                    <div class="left-section">
                      
                      <div class="item">
                        <span class="num_left">50 a 80 anos</span>
                        <span class="word">Idade</span>
                      </div>
      
                      <div class="item">
                        <span class="num_left">Caucasiano</span>
                        <span class="word">Raça</span>
                      </div>
      
                      <div class="item">
                        <span class="num_left">Masculino</span>
                        <span class="word">Gênero</span>
                      </div>
      
                      <div class="dados__processados">
                        <span href="" class="dados__processados num_dados">414</span>
                        <span href="" class="dados__processados word_dados">Dados Processados</span>
                      </div>   
                      
                    </div>
      
      
                    <div class="right-section">
      
                      <div class="item">
                        <span class="num">236</span>
                        <span class="word">Óbitos</span>
                      </div>
      
                      <div class="item">
                        <span class="num">1,71</span>
                        <span class="word">Taxa mortalidade</span>
                      </div>
      
                      <div class="item">
                        <span class="num">8.176.552,31</span>
                        <span class="word">Valor Gasto</span>
                      </div>
      
                      <div class="item">
                        <span class="num">13.818</span>
                        <span class="word">Internações</span>
                      </div>
      
                    </div>
      
                  </div>
                </div>
              </div>

      </section>
  </main>
