<!-- <div class="dados-table">
  <div class="col">
    
    <div class="table">
      <h2>19009</h2>
      <div class="dados"></div>
      <span>Número de dados utilizados</span>
    </div>

    <div class="table">

      <div class="dados"></div>
      <ul>
        <li>Norte</li>
        <li>Nordeste</li>
        <li>Centro-Oeste</li>
        <li>Sudeste</li>
        <li>Sul</li>
      </ul>
      <span>Regiões utilizadas</span>
    </div>

    <div class="table">
        
        <div class="dados"></div>
        <ul>
          <li>Óbitos</li>
          <li>Internações</li>
          <li>Valores por serviços profissionais</li>
          <li>Valores por serviços hospitalares </li>
          <li>Taxa de Mortalidade</li>
        </ul>

        <span>Dados utilizados</span>
      </div>

      <div class="table">
          <h3>Desde recém nascidos até idosos de 80 anos ou mais</h3>
          <div class="dados"></div>
          <span>Idades</span>
        </div>

   </div>
</div> 

<link type="text/html" rel="stylesheet" href="/src/assets/styles/material-design-lite/material.min.css">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<div class="card-table">
    <div class="card-box">
        <div class="table">
            <div class="d19009">19009</div>
            <span>Número de dados utilizados</span>
        </div>
    </div>

    <div class="card-box">
        <div class="table">
            <div class="dados"></div>
            <ul>
              <li>Norte</li>
              <li>Nordeste</li>
              <li>Centro-Oeste</li>
              <li>Sudeste</li>
              <li>Sul</li>
            </ul>
            <span>Regiões utilizadas</span>
        </div>
    </div>

    <div class="card-box">
        <div class="table">
            <ul>
                <li>Óbitos</li>
                <li>Internações</li>
                <li>Valores por serviços profissionais</li>
                <li>Valores por serviços hospitalares </li>
                <li>Taxa de Mortalidade</li>
              </ul>              
              <span>Dados utilizados</span>
        </div>
    </div>

    <div class="card-box">
        <div class="table">
            <ul>
                <li>Desde recém nascidos até idosos de 80 anos ou mais</li>
              </ul>              
              <span>Idade</span>
        </div>
    </div>
</div>  -->

<!-- ########## MODELO DESENHADO DE ICONS-->


<link type="text/html" rel="stylesheet" href="/src/assets/styles/material-design-lite/material.min.css">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">


<div class="services-section">
    <div class="inner-width">
        <h1 class="section-title">Dados </h1>
        <div class="border"></div>
        <div class="services-container">

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-file-csv fa-10x"></i>
                </div>
                <div class="service-title">19009</div>
                <div class="service-desc">Linhas de dados utilizados.</div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-globe-americas"></i>
                </div>
                <div class="service-title">Regiões</div>
                <div class="service-desc">Todas as 5 regiões brasileiras utilizadas.</div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-sort-amount-up"></i>
                </div>
                <div class="service-title">15</div>
                <div class="service-desc">Conteúdos usados, dentre eles óbitos e taxa de mortalidade.</div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-baby"></i>
                </div>
                <div class="service-title">12</div>
                <div class="service-desc">Idades utilizadas, desde recém nascidos até idosos de mais de 80 anos.</div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-venus-mars"></i>
                </div>
                <div class="service-title">2</div>
                <div class="service-desc">Gêneros: masculino e feminino.</div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="fas fa-users"></i>
                </div>
                <div class="service-title">5</div>
                <div class="service-desc">Raças: branca, preta, parda, amarela e indígena.</div>
            </div>

        </div>
    </div>
</div>

