#viz {
  width: 100%;
  height: 80%;
  font: 22pt arial;
}
.label {
  color: white; 
  padding: 8px;
  font-family: Arial;
  -webkit-border-radius: 65px;
  -moz-border-radius: 65px;
  border-radius: 65px;
  // height: 22px;
  // width: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.button {
  display: inline-block;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.labels {
  padding-bottom: 8px;
}

.user {
  background-color: #4caf50;
}

/* Green */

.troll {
  background-color: #2196f3;
}

/* Blue */

.url {
  background-color: #ff9800;
}

/* Orange */

.tweet {
  background-color: #f44336;
}

/* Red */

.other {
  background-color: #e7e7e7;
  color: black;
}

/* Gray */

.posted {
  background-color: #4caf50;
}

/* Green */

.mentions {
  background-color: #2196f3;
}

/* Blue */

.retweet {
  background-color: #ff9800;
}

/* Orange */

.posted_via {
  background-color: #f44336;
}

/* Red */
