<meta name="viewport" content="width=device-width, initial-scale-1">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<div class="team-section">
  <div class="inner-width">
    <h1 class="nomeProjeto">42</h1>

    <div class="pers">
      <img src="./alvaroyu.jpg" alt="">
      <div class="p-name">Álvaro Zago</div>
      <div class="p-des">Developer</div>
      <div class="p-sm">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

    <div class="pers">
      <img src="./paterninho.jpg" alt="">
      <div class="p-name">Anderson Paterno</div>
      <div class="p-des">Developer</div>
      <div class="p-sm">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

    <div class="pers">
      <img src="/src/assets/images/euloco.jpg" alt="">
      <div class="p-name">Felipe Valim</div>
      <div class="p-des">Designer</div>
      <div class="p-sm">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

  </div>
</div>

