<meta name="viewport" content="width=device-width, initial-scale-1">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<div class="team-section">
  <div class="inner-width">
    <h1 class="nomeProjeto">42</h1>
    <h2 class="DescProj">Criado por três perdidos na faculdade, o projeto surgiu para tentar entender e descobrir o que acontece com os jovens, baseado no estilo de vida.</h2>

    <div class="pers">
      <div class="pe">
        <img src="assets/images/alvaroyu.jpg" alt="" class="imageAbout"> 
        <div class="p-name">Álvaro Zago</div>
        <div class="p-des">Developer/Designer</div>
        <div class="p-sm">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="pe">
      <img src="assets/images/paterninho.jpg" alt="" class="imageAbout">
      <div class="p-name">Anderson Paterno</div>
      <div class="p-des">Developer</div>
      <div class="p-sm">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

    <div class="pe">
      <img src="assets/images/deadeye.jpg" alt="" class="imageAbout">
      <div class="p-name">Felipe Valim</div>
      <div class="p-des">Developer/Designer</div>
      <div class="p-sm">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>

  </div>
</div>

